.one{
    background-color: #1f2937;;
    height:240px;
}
.two{
    background-color: whitesmoke;
    height: 240px;
}
.three{
    background-color: rgb(205, 201, 201);
    height:200px;
}
.four{
    background-color: whitesmoke;
    height: 150px;
}